<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="assets/images/bn-logo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/bootstrap/css/select2.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <title>Shera | Home </title>
</head>
<body>
<header class="header-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex header-top justify-content-between py-3 py-md-4">
                    <div class="logo">
                      <a href="index.html"><img class="img-fluid" src="assets/images/bn-logo.png" alt=""></a>
                    </div>
                    <div class="logo">
                         <a href="index.html"><img class="img-fluid" src="assets/images/bn-logo.png" alt=""></a>
                    </div>
                </div>
                <div class="menu-section">
                    <nav class="navbar navbar-expand-lg navbar-dark">
                        <div class="container-fluid">
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#main_nav" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="main_nav">
                                <ul class="navbar-nav me-auto">
                                    <li class="nav-item "><a class="nav-link" href="index.html">Home </a></li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="our-brands.html">
                                            Our Brands
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <li><a class="dropdown-item" href="our-brands-product.html">Radhuni</a></li>
                                            <li><a class="dropdown-item" href="our-brands-product.html">Radhuni</a></li>
                                            <li><a class="dropdown-item" href="our-brands-product.html">Radhuni</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item active"><a class="nav-link" href="global-presence.html"> Global
                                        Presence </a></li>
                                    <li class="nav-item "><a class="nav-link" href="national-presence.html"> National
                                        Presence </a></li>
                                </ul>
                                <ul class="navbar-nav">
                                    <li class="nav-item ms-auto"><a class="nav-link" href="about.html"> About </a></li>
                                    <li class="nav-item ms-auto"><a class="nav-link" href="contact.html"> contact Us </a></li>
                                </ul>
                            </div> <!-- navbar-collapse.// -->
                        </div> <!-- container-fluid.// -->
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>

<main>
    <div class="container">
        <div class="row mt-3">
            <div class="col-md-3">
                <div class="left-content">
                    <!--widget product -->
                    <div class="widget-video widget">
                        <div class="title">
                            <h4  class="d-flex align-items-center"><span><i class="fas fa-sort-down"></i></span>Product Brochure</h4>
                        </div>
                        <div class="img">
                            <img class="img-fluid" src="assets/images/flag/p_brochure.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="right-content">
                    <div class="global-presence-section">
                        <div class="common-title">
                            Global Presence
                        </div>
                        <p>
                            Square Food & Beverage Limited is strengthening its export operations to become a high
                            performing global player by supplying quality food products at reasonable price. Its
                            products comply with international phyto-sanitary requirements. Starting its first export to
                            South Korea in 2002, the company is currently exporting the products with international
                            standards in 30 countries around the world which includes Australia, Europe, North America,
                            Africa and Asia.
                        </p>
                        <p>

                            Technical capabilities in processing, post-harvest handling, maintaining Good Manufacturing
                            Practice (GMP) and modern grinding technology have given Square Food & Beverage Limited a
                            strong competitive edge in the industry.
                        </p>
                        <div class="d-flex flag-section flex-wrap shadow">
                            <!-- must be image height 60px -->
                            <div class="flag-content">
                                <div class="img">
                                    <img class="img-fluid" src="assets/images/flag/flag-square-250.png" alt="">
                                </div>
                                <div class="name">Australia</div>
                            </div>
                            <div class="flag-content">
                                <div class="img">
                                    <img class="img-fluid" src="assets/images/flag/flag-square-2.png" alt="">
                                </div>
                                <div class="name">Australia</div>
                            </div>
                            <div class="flag-content">
                                <div class="img">
                                    <img class="img-fluid" src="assets/images/flag/flag-square-3.png" alt="">
                                </div>
                                <div class="name">Australia</div>
                            </div>
                            <div class="flag-content">
                                <div class="img">
                                    <img class="img-fluid" src="assets/images/flag/flag-square-4.png" alt="">
                                </div>
                                <div class="name">Australia</div>
                            </div>
                            <div class="flag-content">
                                <div class="img">
                                    <img class="img-fluid" src="assets/images/flag/flag-square-1.png" alt="">
                                </div>
                                <div class="name">Australia</div>
                            </div>
                            <div class="flag-content">
                                <div class="img">
                                    <img class="img-fluid" src="assets/images/flag/flag-square-6.png" alt="">
                                </div>
                                <div class="name">Australia</div>
                            </div>
                            <div class="flag-content">
                                <div class="img">
                                    <img class="img-fluid" src="assets/images/flag/flag-square-7.png" alt="">
                                </div>
                                <div class="name">Australia</div>
                            </div>
                            <div class="flag-content">
                                <div class="img">
                                    <img class="img-fluid" src="assets/images/flag/flag-square-250.png" alt="">
                                </div>
                                <div class="name">Australia</div>
                            </div>
                            <div class="flag-content">
                                <div class="img">
                                    <img class="img-fluid" src="assets/images/flag/flag-square-1.png" alt="">
                                </div>
                                <div class="name">Australia</div>
                            </div>
                            <div class="flag-content">
                                <div class="img">
                                    <img class="img-fluid" src="assets/images/flag/flag-square-6.png" alt="">
                                </div>
                                <div class="name">Australia</div>
                            </div>
                            <div class="flag-content">
                                <div class="img">
                                    <img class="img-fluid" src="assets/images/flag/flag-square-7.png" alt="">
                                </div>
                                <div class="name">Australia</div>
                            </div>
                            <div class="flag-content">
                                <div class="img">
                                    <img class="img-fluid" src="assets/images/flag/flag-square-250.png" alt="">
                                </div>
                                <div class="name">Australia</div>
                            </div>
                            <div class="flag-content">
                                <div class="img">
                                    <img class="img-fluid" src="assets/images/flag/flag-square-1.png" alt="">
                                </div>
                                <div class="name">Australia</div>
                            </div>
                            <div class="flag-content">
                                <div class="img">
                                    <img class="img-fluid" src="assets/images/flag/flag-square-6.png" alt="">
                                </div>
                                <div class="name">Australia</div>
                            </div>
                            <div class="flag-content">
                                <div class="img">
                                    <img class="img-fluid" src="assets/images/flag/flag-square-7.png" alt="">
                                </div>
                                <div class="name">Australia</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</main>

<footer class="footer-content">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="footer-menu">
                    <ul>
                        <li><a href="">Home</a></li>
                        <li><a href="">About</a></li>
                        <li><a href="">Our Brands</a></li>
                        <li><a href="">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="footer-menu">
                    <ul>
                        <li><a href="">Terms & Conditions</a></li>
                        <li><a href="">Privacy Policy</a></li>
                        <li><a href="">Terms of Use</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="footer-menu">
                    <ul>
                        <li><i class="fas fa-map-marker-alt me-2"></i>Square Centre (6th Floor) Corporate Head Quarter. 48, Mohakhali CA, Dhaka-1212</li>
                        <li><i class="fas fa-phone-alt me-2"></i>Tel: 88-02-8833047-56 [Ten lines]</li>
                        <li><i class="fas fa-envelope me-2"></i>imtiaz.firoze@squaregroup.com</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="assets/js/jquery-3.6.0.min.js"></script>
<script src="assets/js/main.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/bootstrap/js/select2.min.js"></script>

</body>
</html>