<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="assets/images/bn-logo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/bootstrap/css/select2.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <title>Shera | Home </title>
</head>
<body>
<header class="header-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex header-top justify-content-between py-3 py-md-4">
                    <div class="logo">
                        <a href="index.html"><img class="img-fluid" src="assets/images/bn-logo.png" alt=""></a>
                    </div>
                    <div class="logo">
                         <a href="index.html"><img class="img-fluid" src="assets/images/bn-logo.png" alt=""></a>
                    </div>
                </div>
                <div class="menu-section">
                    <nav class="navbar navbar-expand-lg navbar-dark">
                        <div class="container-fluid">
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#main_nav" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="main_nav">
                                <ul class="navbar-nav me-auto">
                                    <li class="nav-item active"><a class="nav-link" href="index.html">Home </a></li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="our-brands.html">
                                            Our Brands
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <li><a class="dropdown-item" href="our-brands-product.html">Radhuni</a></li>
                                            <li><a class="dropdown-item" href="our-brands-product.html">Radhuni</a></li>
                                            <li><a class="dropdown-item" href="our-brands-product.html">Radhuni</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item"><a class="nav-link" href="global-presence.html"> Global
                                        Presence </a></li>
                                    <li class="nav-item "><a class="nav-link" href="national-presence.html"> National
                                        Presence </a></li>
                                </ul>
                                <ul class="navbar-nav">
                                    <li class="nav-item ms-auto"><a class="nav-link" href="about.html"> About </a></li>
                                    <li class="nav-item ms-auto"><a class="nav-link" href="contact.html"> contact Us </a></li>
                                </ul>
                            </div> <!-- navbar-collapse.// -->
                        </div> <!-- container-fluid.// -->
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>

<main>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="left-content">
                    <!--widget video-->
                    <div class="widget-video widget">
                        <div class="title">
                            <h4 class="d-flex align-items-center"><span><i class="fas fa-sort-down"></i></span>About Shera Group</h4>
                        </div>
                        <div class="about-video text">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn w-100" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                <img class="w-100" src="assets/images/home/about-video.png" alt="">
                            </button>
                        </div>
                    </div>
                    <!--widget facebook pages-->
                    <div class="widget-facebook widget">
                        <div class="title">
                            <h4  class="d-flex align-items-center"><span><i class="fas fa-sort-down"></i></span>Facebook Pages</h4>
                        </div>
                        <div class="text">
                            <div class="d-flex">
                                <div class="left">
                                    <img class="img-fluid" src="assets/images/home/page-1.png" alt="">
                                </div>
                                <div class="right">
                                    <a href="#" class="page-name">Radhuni</a>
                                    <div class="page-like-count">
                                        <a href="#">
                                            <i class="fab fa-facebook-square"></i>Like page
                                        </a>
                                        <span>367k likes</span>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex">
                                <div class="left">
                                    <img class="img-fluid" src="assets/images/home/page-2.jpg" alt="">
                                </div>
                                <div class="right">
                                    <a href="#" class="page-name">Radhuni</a>
                                    <div class="page-like-count">
                                        <a href="#">
                                            <i class="fab fa-facebook-square"></i>Like page
                                        </a>
                                        <span>367k likes</span>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex">
                                <div class="left">
                                    <img class="img-fluid" src="assets/images/home/page-1.png" alt="">
                                </div>
                                <div class="right">
                                    <a href="#" class="page-name">Radhuni</a>
                                    <div class="page-like-count">
                                        <a href="#">
                                            <i class="fab fa-facebook-square"></i>Like page
                                        </a>
                                        <span>367k likes</span>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex">
                                <div class="left">
                                    <img class="img-fluid" src="assets/images/home/page-2.jpg" alt="">
                                </div>
                                <div class="right">
                                    <a href="#" class="page-name">Radhuni</a>
                                    <div class="page-like-count">
                                        <a href="#">
                                            <i class="fab fa-facebook-square"></i>Like page
                                        </a>
                                        <span>367k likes</span>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex">
                                <div class="left">
                                    <img class="img-fluid" src="assets/images/home/page-2.jpg" alt="">
                                </div>
                                <div class="right">
                                    <a href="#" class="page-name">Radhuni</a>
                                    <div class="page-like-count">
                                        <a href="#">
                                            <i class="fab fa-facebook-square"></i>Like page
                                        </a>
                                        <span>367k likes</span>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex">
                                <div class="left">
                                    <img class="img-fluid" src="assets/images/home/page-1.png" alt="">
                                </div>
                                <div class="right">
                                    <a href="#" class="page-name">Radhuni</a>
                                    <div class="page-like-count">
                                        <a href="#">
                                            <i class="fab fa-facebook-square"></i>Like page
                                        </a>
                                        <span>367k likes</span>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex">
                                <div class="left">
                                    <img class="img-fluid" src="assets/images/home/page-2.jpg" alt="">
                                </div>
                                <div class="right">
                                    <a href="#" class="page-name">Radhuni</a>
                                    <div class="page-like-count">
                                        <a href="#">
                                            <i class="fab fa-facebook-square"></i>Like page
                                        </a>
                                        <span>367k likes</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--widget Follow -->
                    <div class="widget-follow widget">
                        <div class="title">
                            <h4 class="d-flex align-items-center"><span><i class="fas fa-sort-down"></i></span>Follow Us</h4>
                        </div>
                        <div class="text">
                            <a href="#"><i class="fab fa-facebook-square"></i></a>
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                            <a href="#"><i class="fab fa-youtube-square"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9 order-first order-md-last">
                <div class="right-content">
                    <div class="main-slider">
                        <div id="mainSlider" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#mainSlider" data-bs-slide-to="0"
                                        class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#mainSlider" data-bs-slide-to="1"
                                        aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#mainSlider" data-bs-slide-to="2"
                                        aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner">
                                <div class="carousel-item active " data-bs-interval="2000">
                                    <a href="our-product.html">
                                        <img src="assets/images/slider/slider1.jpg" class="d-block w-100" alt="...">
                                    </a>
                                </div>
                                <div class="carousel-item" data-bs-interval="2000">
                                    <a href="our-product.html">
                                        <img src="assets/images/slider/slider2.jpg" class="d-block w-100" alt="...">
                                    </a>
                                </div>
                                <div class="carousel-item" data-bs-interval="2000">
                                    <a href="our-product.html">
                                        <img src="assets/images/slider/slider3.jpg" class="d-block w-100" alt="...">
                                    </a>
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button"
                                    data-bs-target="#mainSlider" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                    data-bs-target="#mainSlider" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                    <div class="marquee-wrapper">
                        <div class="marquee-block">
                            <div class="marquee-inner to-left">
                                <span>
                                    <a href="our-brands-product.html" class="marquee-item">
                                        <img src="assets/images/slider/ruchi_kashon.png" alt="">
                                    </a>
                                    <a href="our-brands-product.html" class="marquee-item">
                                        <img src="assets/images/slider/ruchi_kashon.png" alt="">
                                    </a>
                                    <a href="our-brands-product.html" class="marquee-item">
                                        <img src="assets/images/slider/ruchi_kashon.png" alt="">
                                    </a>
                                    <a href="our-brands-product.html" class="marquee-item">
                                        <img src="assets/images/slider/ruchi_kashon.png" alt="">
                                    </a>
                                    <a href="our-brands-product.html" class="marquee-item">
                                        <img src="assets/images/slider/ruchi_kashon.png" alt="">
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="brand-wrapper d-flex justify-content-around mt-md-4">
                        <a href="our-brands-product.html" class="brand-item">
                            <img class="img-fluid" src="assets/images/home/product-1.jpg" alt="">
                        </a>
                        <a href="our-brands-product.html" class="brand-item">
                            <img class="img-fluid" src="assets/images/home/product-2.jpg" alt="">
                        </a>
                        <a href="our-brands-product.html" class="brand-item">
                            <img class="img-fluid" src="assets/images/home/product-3.jpg" alt="">
                        </a>
                        <a href="our-brands-product.html" class="brand-item">
                            <img class="img-fluid" src="assets/images/home/chopstick_logo.jpg" alt="">
                        </a>
                        <a href="our-brands-product.html" class="brand-item">
                            <img class="img-fluid" src="assets/images/home/aaram.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-danger" id="staticBackdropLabel">About Shera Group</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item w-100" src="https://www.youtube.com/embed/Mfa6QUi1Nr0"
                                allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

<footer class="footer-content">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="footer-menu">
                    <ul>
                        <li><a href="">Home</a></li>
                        <li><a href="">About</a></li>
                        <li><a href="">Our Brands</a></li>
                        <li><a href="">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="footer-menu">
                    <ul>
                        <li><a href="">Terms & Conditions</a></li>
                        <li><a href="">Privacy Policy</a></li>
                        <li><a href="">Terms of Use</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="footer-menu">
                    <ul>
                        <li><i class="fas fa-map-marker-alt me-2"></i>Square Centre (6th Floor) Corporate Head Quarter. 48, Mohakhali CA, Dhaka-1212</li>
                        <li><i class="fas fa-phone-alt me-2"></i>Tel: 88-02-8833047-56 [Ten lines]</li>
                        <li><i class="fas fa-envelope me-2"></i>imtiaz.firoze@squaregroup.com</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="assets/js/jquery-3.6.0.min.js"></script>
<script src="assets/js/main.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/bootstrap/js/select2.min.js"></script>

</body>
</html>