<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="assets/images/bn-logo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/bootstrap/css/select2.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <title>Shera | Home </title>
</head>
<body>
<header class="header-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex header-top justify-content-between py-3 py-md-4">
                    <div class="logo">
                      <a href="index.html"><img class="img-fluid" src="assets/images/bn-logo.png" alt=""></a>
                    </div>
                    <div class="logo">
                         <a href="index.html"><img class="img-fluid" src="assets/images/bn-logo.png" alt=""></a>
                    </div>
                </div>
                <div class="menu-section">
                    <nav class="navbar navbar-expand-lg navbar-dark">
                        <div class="container-fluid">
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#main_nav" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="main_nav">
                                <ul class="navbar-nav me-auto">
                                    <li class="nav-item "><a class="nav-link" href="index.html">Home </a></li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="our-brands.html" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Our Brands
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <li><a class="dropdown-item" href="our-brands-product.html">Radhuni</a></li>
                                            <li><a class="dropdown-item" href="our-brands-product.html">Radhuni</a></li>
                                            <li><a class="dropdown-item" href="our-brands-product.html">Radhuni</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item"><a class="nav-link" href="global-presence.html"> Global
                                        Presence </a></li>
                                    <li class="nav-item "><a class="nav-link" href="national-presence.html"> National
                                        Presence </a></li>
                                </ul>
                                <ul class="navbar-nav">
                                    <li class="nav-item ms-auto active"><a class="nav-link" href="about.html"> About </a></li>
                                    <li class="nav-item ms-auto"><a class="nav-link" href="contact.html"> contact Us </a></li>
                                </ul>
                            </div> <!-- navbar-collapse.// -->
                        </div> <!-- container-fluid.// -->
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>

<main>
    <div class="container">
        <div class="row mt-md-3">
            <div class="col-md-3">
                <div class="left-content">
                    <!--widget about-menu-->
                    <div class="side-menu-section d-flex flex-column">
                        <a href="about.html" class="menu-link ">Founder Chairman's Profile</a>
                        <a href="quality-assurance.html" class="menu-link">quality assurance </a>
                        <a href="sister-concerns.html" class="menu-link active">Sister Concern</a>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="right-content">
                    <div class="sister-concerns-section">
                        <div class="quality-content">
                            <div class="common-title">
                                Our Sister Concerns
                            </div>
                            <div class="sister-concerns-image">
                                <img class="img-fluid" src="assets/images/about/spl_logo.png" alt="">
                            </div>
                            <div class="profile-text">
                                <h3 class="sister-concerns-name">Square Pharmaceuticals Ltd.</h3>
                                <p>
                                    SQUARE Pharmaceuticals Limited is the largest pharmaceutical company in Bangladesh
                                    and it has been continuously in the 1st position among all national and
                                    multinational companies since 1985. It was established in 1958 and converted into a
                                    public limited company in 1991.
                                </p>
                            </div>
                        </div>
                        <div class="quality-content">
                            <div class="sister-concerns-image">
                                <img class="img-fluid" src="assets/images/about/square-hospital.png" alt="">
                            </div>
                            <div class="profile-text">
                                <h3 class="sister-concerns-name">SQUARE Hospitals Ltd.</h3>
                                <p>
                                    SQUARE Pharmaceuticals Limited is the largest pharmaceutical company in Bangladesh
                                    and it has been continuously in the 1st position among all national and
                                    multinational companies since 1985. It was established in 1958 and converted into a
                                    public limited company in 1991.
                                </p>
                            </div>
                        </div>
                        <div class="quality-content">
                            <div class="sister-concerns-image">
                                <img class="img-fluid" src="assets/images/about/maasranga-communication.png" alt="">
                            </div>
                            <div class="profile-text">
                                <h3 class="sister-concerns-name">Maasranga Communications Ltd.</h3>
                                <p>
                                    Maasranga is the only production house in Bangladesh from where 13 episodes of 08
                                    drama serials transmitted at a time in every week on 6 individual channels. It is
                                    equipped with world's latest high definition cameras, new HD editing setup, Apple
                                    Macintose G5 based edit panel with Final-cut Pro software, 02 HDV VTR etc. Country's
                                    only Sony HVR 1500A, HD-SDI cum DVCAM VCR with AJA KONA 3G capture card is available
                                    here to provide any sort of audio video input and output of web supporting
                                    resolution. Along with the production house we have introduced the first HD
                                    technology based latest television channel in Bangladesh named Maasranga Television.
                                    This channel is totally free from any sort of prejudice and fully based on the
                                    Benglai culture and rituals.
                                </p>
                            </div>
                        </div>
                        <div class="quality-content">
                            <div class="sister-concerns-image">
                                <img class="img-fluid" src="assets/images/about/square-textile.png" alt="">
                            </div>
                            <div class="profile-text">
                                <h3 class="sister-concerns-name">Square Textiles Ltd.</h3>
                                <p>
                                    SQUARE Pharmaceuticals Limited is the largest pharmaceutical company in Bangladesh
                                    and it has been continuously in the 1st position among all national and
                                    multinational companies since 1985. It was established in 1958 and converted into a
                                    public limited company in 1991.
                                </p>
                            </div>
                        </div>
                        <div class="quality-content">
                            <div class="sister-concerns-image">
                                <img class="img-fluid" src="assets/images/about/sabazpur-tea-company.png" alt="">
                            </div>
                            <div class="profile-text">
                                <h3 class="sister-concerns-name">Sabazpur Tea Company Ltd.</h3>
                                <p>
                                    SQUARE Pharmaceuticals Limited is the largest pharmaceutical company in Bangladesh
                                    and it has been continuously in the 1st position among all national and
                                    multinational companies since 1985. It was established in 1958 and converted into a
                                    public limited company in 1991.
                                </p>
                            </div>
                        </div>
                        <div class="quality-content">
                            <div class="sister-concerns-image">
                                <img class="img-fluid" src="assets/images/about/square-toiletriesltd.png " alt="">
                            </div>
                            <div class="profile-text">
                                <h3 class="sister-concerns-name">SQUARE Toiletries Ltd.</h3>
                                <p>
                                    SQUARE Pharmaceuticals Limited is the largest pharmaceutical company in Bangladesh
                                    and it has been continuously in the 1st position among all national and
                                    multinational companies since 1985. It was established in 1958 and converted into a
                                    public limited company in 1991.
                                </p>
                            </div>
                        </div>
                        <div class="quality-content">
                            <div class="sister-concerns-image">
                                <img class="img-fluid" src="assets/images/about/mediacom.png" alt="">
                            </div>
                            <div class="profile-text">
                                <h3 class="sister-concerns-name">Mediacom Ltd.</h3>
                                <p>
                                    SQUARE Pharmaceuticals Limited is the largest pharmaceutical company in Bangladesh
                                    and it has been continuously in the 1st position among all national and
                                    multinational companies since 1985. It was established in 1958 and converted into a
                                    public limited company in 1991.
                                </p>
                            </div>
                        </div>
                        <div class="quality-content">
                            <div class="sister-concerns-image">
                                <img class="img-fluid" src="assets/images/about/sal_logo.png" alt="">
                            </div>
                            <div class="profile-text">
                                <h3 class="sister-concerns-name">Square Air Ltd.</h3>
                                <p>
                                    SQUARE Pharmaceuticals Limited is the largest pharmaceutical company in Bangladesh
                                    and it has been continuously in the 1st position among all national and
                                    multinational companies since 1985. It was established in 1958 and converted into a
                                    public limited company in 1991.
                                </p>
                            </div>
                        </div>
                        <div class="quality-content">
                            <div class="sister-concerns-image">
                                <img class="img-fluid" src="assets/images/about/SIL_logo.png" alt="">
                            </div>
                            <div class="profile-text">
                                <h3 class="sister-concerns-name">SQUARE InformatiX Ltd.</h3>
                                <p>
                                    SQUARE Pharmaceuticals Limited is the largest pharmaceutical company in Bangladesh
                                    and it has been continuously in the 1st position among all national and
                                    multinational companies since 1985. It was established in 1958 and converted into a
                                    public limited company in 1991.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

<footer class="footer-content">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="footer-menu">
                    <ul>
                        <li><a href="">Home</a></li>
                        <li><a href="">About</a></li>
                        <li><a href="">Our Brands</a></li>
                        <li><a href="">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="footer-menu">
                    <ul>
                        <li><a href="">Terms & Conditions</a></li>
                        <li><a href="">Privacy Policy</a></li>
                        <li><a href="">Terms of Use</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="footer-menu">
                    <ul>
                        <li><i class="fas fa-map-marker-alt me-2"></i>Square Centre (6th Floor) Corporate Head Quarter. 48, Mohakhali CA, Dhaka-1212</li>
                        <li><i class="fas fa-phone-alt me-2"></i>Tel: 88-02-8833047-56 [Ten lines]</li>
                        <li><i class="fas fa-envelope me-2"></i>imtiaz.firoze@squaregroup.com</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="assets/js/jquery-3.6.0.min.js"></script>
<script src="assets/js/main.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/bootstrap/js/select2.min.js"></script>

</body>
</html>